<!DOCTYPE html>
<!-- 
 * Projeto:  FSEJobs  -  Sistema de busca de Josb no FSEconomy
 * Gerente:  Sergio Murilo  -  smurilo at GMail
 * Data:     Balneario Camboriu/SC  -  2025
 * Equipe:   Murilo, Victor, Allan
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{modulos/fragmento-header :: header-section}">
    <title>FSEJobs</title>
</head>
    
<body th:style="'background-image:url(' + @{/assets/background.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">    
    <!-- Full Page Device -->
    <div id="page-container">
        <!-- CONTEUDO DA PAGINA  -->
        <div id="content-wrap">
            <!--  MENU DO SISTEMA  -->
            <div th:insert="~{modulos/fragmento-sistema-menu :: navbar-menusistema}"></div>
            
            <!--  AREA DO CONTEUDO DINAMICO  -->
            <section class="d-flex align-items-center pt-4">
                <div class="col inner-box pt-4">
                    
                    <!--    Titulo da Secao     -->
                    <div class="row pt-5 pb-2 text-white">
                        <h1 th:text="#{user.preferencias.titulo}"></h1>
                    </div>
                        
                    <!-- Mensagens de Erro -->
                    <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                        <span th:text="${mensagem}"></span>
                    </div>

                    <form class="fseCard" th:action="@{/usuario/preferencias}" th:object="${preferencias}" method="post">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" th:text="#{user.form.apikey}"></label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" th:field="*{apiKey}" />  
                                <span class="text-danger small d-block mt-1" th:if="${#fields.hasErrors('apiKey')}" th:errors="*{apiKey}"></span>
                            </div>				
                        </div>
                        <!--  CAMPOS HIDDEN  -->
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <input class="form-control" type="hidden" th:field="*{versao}"     /> 
                                <input class="form-control" type="hidden" th:field="*{entidadeID}" /> 
                                <input class="form-control" type="hidden" name="usuarioId" th:value="${usuario.entidadeID}" /> 
                            </div>
                        </div>  
                        
                        <div class="d-flex justify-content-center mt-4 gap-4">
                            <a     class="btn btn-secondary btn-lg px-4" th:text="#{action.goback}"  role="button" th:href="@{/dashboard}" />&nbsp;
                            <input class="btn btn-primary   btn-lg px-4" th:value="#{action.submit}" type="submit" />
                        </div>                        
                    </form>	
                </div>
            </section>
            <!--  FIM DO CONTEUDO DINAMICO  -->
        </div>
    </div>
    <!--  RODAPE DA PAGINA  -->
    <div th:insert="~{modulos/fragmento-sistema-footer :: footer-popup}"></div>
</body>
</html>