<!DOCTYPE html>
<!-- 
 * Projeto:  FSEJobs  -  Sistema de busca de Josb no FSEconomy
 * Gerente:  Sergio Murilo  -  smurilo at GMail
 * Data:     Balneario Camboriu/SC  -  2025
 * Equipe:   Murilo, Victor, Allan
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{modulos/fragmento-header :: header-section}">
    <title>FSEJobs</title>
</head>
    
<body>    
    <!-- Full Page Device -->
    <div id="page-container" class="page-wrapper">
        <!-- CONTEUDO DA PAGINA  -->
        <div id="content-wrap">
            <!--  MENU DO SISTEMA  -->
            <div th:insert="~{modulos/fragmento-sistema-menu :: navbar-menusistema}"></div>
            
            <!--  AREA DO CONTEUDO DINAMICO  -->
            <section class="d-flex align-items-center pt-4">
                <div class="col inner-box pt-4">
                    
                    <!-- Titulo da pagina e botões principais  -->
                    <div class="d-flex align-items-center text-white pt-4">
                        <div style="flex: 0 0 70%;">
                            <br/><h1 th:text="#{user.list}">&nbsp;</h1>
                        </div>
                        <div class="ms-auto me-3">
                            <a class="btn btn-primary btn-lg disabled  d-inline-flex align-items-center flex-nowrap" th:href="@{/usuario/cadastrar}" tabindex="-1" aria-disabled="true">
                                <span class="fa-regular fa-square-plus">&nbsp;</span>
                                <span class="d-none d-sm-inline ms-2" th:text="#{index.register}"></span>
                            </a>
                        </div>
                    </div>

                    <table class="table table-striped fseCard">
                        <thead>
                            <tr>
                                <th th:text="#{users.table.nome}"      ></th>
                                <th th:text="#{users.table.email}"     ></th>
                                <th th:text="#{users.table.isativo}"   ></th>
                                <th th:text="#{users.table.permissoes}"></th>
                                <th th:text="#{action.title}"          style="width: 15%; text-align: center;" colspan="3" ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${colecao.empty}">
                                    <td colspan="6" th:text="#{rotas.no}"></td>
                            </tr>
                            <tr th:each="tipo : ${colecao}">
                                <td><span th:text="${tipo.nome}"></span></td>
                                <td><span th:text="${tipo.email}"></span></td>
                                <td><span th:text="${tipo.ativo}"></span></td>
                                <td><span th:text="${tipo.nivelAcesso.nome}"></span></td>
                                
                                <!-- ACOES -->
                                <td>
                                    <!-- Botão de DELETAR -->
                                    <a class="btn btn-danger btn-sm" 
                                        th:title="#{action.delete}"
                                        th:href="@{/usuario/remover/{id}(id=${tipo.entidadeID})}"
                                        onclick="return confirmarExclusao(event, this);"
                                        th:text="#{action.delete}">
                                    </a>
                                </td>				
                                <td>
                                    <!-- Botão de ATIVAR/DESATIVAR -->
                                    <a class="btn btn-primary btn-sm" th:classappend="${tipo.ativo} ? 'btn-dark' : 'btn-primary'"
                                        th:title="#{action.edit}"                                       
                                        th:href="@{/usuario/status/{id}/{code} (id=${tipo.entidadeID}, code=${!tipo.ativo})}"
                                        th:text="${tipo.ativo} ? #{action.desativar} : #{action.ativar}">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--  PAGINACAO DA TABELA  -->
                    <nav style="margin-top: 20px;" th:if="${colecao.totalPages > 0}">
                        <ul class="pagination" style="justify-content: center;">
                            <!-- Botão Previous -->
                            <li class="page-item" th:classappend="${colecao.first} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/usuario/paginar/{page}/{pageSize}(page=${colecao.number}, pageSize=15)}">
                                    <span th:text="#{table.pagination.previous}"></span>
                                </a>
                            </li>
                            <!-- Links das páginas -->
                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(0, colecao.totalPages - 1)}"
                                th:classappend="${colecao.number == i} ? 'active'">
                                <a class="page-link"
                                   th:text="${i + 1}"
                                   th:href="@{/usuario/paginar/{page}/{pageSize}(page=${i+1}, pageSize=15)}"></a>
                            </li>
                            <!-- Botão Next -->
                            <li class="page-item" th:classappend="${colecao.last} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/usuario/paginar/{page}/{pageSize}(page=${colecao.number + 2}, pageSize=15)}">
                                    <span th:text="#{table.pagination.next}"></span>
                                </a>
                            </li>                 
                        </ul>
                    </nav> 
                    
                    <!-- Mensagens de Erro -->
                    <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                        <span th:text="${mensagem}"></span>
                    </div>

                </div>
            </section>
            <!--  FIM DO CONTEUDO DINAMICO  -->
            
        </div>
        <!-- ROODAPE DA PAGINA -->
        <div th:insert="~{modulos/fragmento-sistema-footer :: footer-popup}"></div>
    </div>
</body>
</html>
